
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    min-height: 100vh;
    max-width: 100%;
    background-color: #585e6f;
    background-image:url(../images/background.png);
    color: #00a0fd;
    font-family:"Roboto Mono";
    color:white;
    padding-bottom: 100px;
    position: relative;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.formField {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 1em;
}

#importanceDot {
    width: 20px;
    height: 20px;
    background-color: green;
    border: 1 solid black;
    border-radius: 75%;
}

.formField label {
    flex: 1;
}

.formField input,textarea{
    flex: 1;
}

#formBox {
    max-height:100vh;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}


form{
    font-size:1.2em;
}

#taskBox {
    min-width: 46.5%;
}


.task {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: baseline;
    border: 1px solid black;
    border-radius: 15px;
    margin-bottom: 1em;
    padding-bottom: 1px;
    padding:0.5em 1em 0 1em;
    word-wrap: break-word;
}

.task h2,h3,input {
    font-size:1.2em;
    margin: 0;
    width: 33%;
}
.task p {
    width: 100%;
}



.task div {
    margin: 0 auto;
}

fieldset {
    max-width: 50%;
} 


#inputBox {
    max-height: 25.5em;
    min-width: 50%;
} 

#importanceBar {
    width: 95%;
    height: 5px;
}

.importance1 {
    background-color: white;
}

.importance2 {
    background-color: yellow;
}

.importance3 {
    background-color: #ff9a03;
}

.importance4 {
    background-color: red;
}

#postBttn{
    background:none;
    font-size:1.2em;
    color:white;
    border:1px solid lightgrey;
    padding:0 1em 0 1em;
}
